@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;700;900&family=Righteous&display=swap');

/* Global Styling */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
    font-weight: 200;
    background-color: #16161A;
    /*background-color: #004D40;*/
    font-size: 18px;
    /*color: hsl(0, 0%, 100%);*/
    color: #CCCCCC;
}

#container{
    width: 75%;
    margin: 0 auto;
}

/* Landing page styling */
#landing-page{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socio-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    position: absolute;
    top: 0;
    width: 75%;
}

#name,
.name{
    font-size: 35px;
    font-weight: 700;
}

#socials a,
#social a{
    margin-left: 10px;
}

.fa-brands {
    color: #C62828;
    font-size: 25px;
}
#image{
    width: 520px;
    height: 520px;
    align-self: flex-end;
    position: absolute;
    background-image: url("/images/profile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
    border-radius: 50%;

}

#image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.intro-message{
    margin:0 38% 0 0;  
}

#intro h1{
    margin: 0;
    padding: 0;
    font-size: 70px;
    font-weight: 900;
    color: #B2DFDB;
    font-family: 'Righteous', cursive;
}

#message{
    width: 70%;
    line-height: 1.5;
}


#contact{
    position: absolute;
    bottom: 10%;
    border-bottom: 1px solid #C62828;
}

#contact a{
    color: #CCCCCC;
    text-decoration: none;
}



/*SKILL PAGE STYLING*/
#skills-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.skill{
    width: 300px;
    height: 100px;
    border: 1px solid rgba(253, 216, 53, .6);
    margin: 5px;
    background-color:  rgba(255, 193, 7, .4);
}

.skill p,
.skill h1{
    width: 55%;
    margin: 5px auto;
}

#project-title,
#skill-title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin:0 auto;
    margin-top: 50px;
    width: fit-content;
    border-bottom: 1px solid #C62828;
}



/*PROJECT PAGE STYLING*/
#projects-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.project{
    width: 450px;
    height: 450px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    
}

.img{
    width: 100%;
    height: 400px;
    align-items: center;
}

.project header{
    padding:5px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-left: 8px;
    border-bottom: 1px solid #DDDDDD;
    width: fit-content;
}

.description{
    margin: 8px;
}

.project p a{
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    margin-left: 8px;
}

.live{
    text-align: center;
    border: 1px solid rgba(253, 216, 53, .6);
    width: 50%;
    margin: 5px auto;
    border-radius: 35px;
    background-color: rgba(253, 216, 53, .6);
    text-transform: capitalize;
}


/*CONTACT PAGE STYLING*/
#contact-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.msg,
.form{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.msg h1{
    font-size: 70px;
    align-self: flex-start;
    margin: 5px 0;
}
.form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.form form div, .form form textarea,
.form form div input{
    width: 100%;
    padding: 0;
    margin: 10px auto;
    border: none;
    color: #CCCCCC;
    background-color: transparent;
    font-size: 16px;
}

.form form div input,
.form form textarea{
    height: 100%;
    border-bottom: 1px solid #C62828;
    font-size: 15PX;
}

.form form div input:focus,
.form form textarea:focus{
    outline: none;
}

button{
    border: none;
    width: fit-content;
    background-color: transparent;
    text-align: left;
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #C62828;
    color: #CCCCCC;
    align-self: flex-end;
}

button:hover{
    color: rgba(253, 216, 53, .6);
    border-bottom: 1px solid #DDDDDD;
}

footer{
    border-top: 1px solid #DDDDDD;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -10;
}

.name p{
    margin: 2px 0;
    font-size: 15px;
}

