@media screen and (max-width: 1300px) {
    #container, .socio-name{
        width:85%;
    }
    #image{
        width: 490px;
        height: 490px;
    }
}

@media screen and (max-width: 1170px) {
    #container, .socio-name{
        width:95%;
    }

    #image{
        width: 450px;
        height: 450px;
    }

}


@media screen and (max-width: 850px) {
    #intro h1{
        font-size: 65px;
    }
    .intro-message {
        margin: 0 40% 0 0;
    }
    #image{
        width: 400px;
        height: 400px;
    }

    #container, .socio-name{
        width:98%;
    }

}

@media screen and (max-width: 750px) {
    #intro h1{
        font-size: 60px;
    }
    .intro-message {
        margin: 0 45% 0 0;
    }
    #image{
        width: 380px;
        height: 380px;
    }

    #container, .socio-name{
        width:99%;
    }

}

@media screen and (max-width: 699px) {
    #image{
        align-self: center;
        top: calc(100vh / 8);
        width: 320px;
        height: 320px;
    }

    .intro-message{
        margin: 0;
        position: relative;
        top: 28%;
        text-align: center;
    }
    #message {
        width: 70%;
        margin: 0 auto;
    }

    #contact {
        bottom: 10px;
        align-self: center;
    }
    
    #name{
        font-size: 28px;
    }
    #intro h1{
        font-size: 55px;
    }
}

@media screen and (max-width: 550px) {
    #image{
        width: 300px;
        height: 300px;
    }

    .intro-message{
        margin: 0;
        position: relative;
        top: 23%;
        text-align: center;
    }
    #message {
        width: 70%;
        margin: 0 auto;
    }

    #contact {
        bottom: 10px;
        align-self: center;
    }

    #name{
        font-size: 20px;
    }

    #intro h1{
        font-size: 50px;
    }

}

@media screen and (max-width: 415px) {
    #image{
        width: 270px;
        height: 270px;
        top: calc(100vh / 8);
    }
    .intro-message{
        top: 20%;
    }
    #message {
        width: 70%;
        margin: 0 auto;
    }

    #contact {
        bottom: 10px;
        align-self: center;
    }

    #name{
        font-size: 20px;
    }

    #intro h1{
        font-size: 40px;
    }

}

@media screen and (max-width: 335px) {
    #image{
        width: 250px;
        height: 250px;
        top: calc(100vh / 7);
    }
    .intro-message{
        top: 20%;
    }
    #message {
        width: 70%;
        margin: 0 auto;
        font-size: 15px;
    }

    #contact {
        bottom: 10px;
        align-self: center;
        font-size: 15px;
    }

    #name{
        font-size: 18px;
    }

    #intro h1{
        font-size: 30px;
    }

}